<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451277999382-57hk4mik2mdgabgl2keob50u93sc66h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451277999382-57hk4mik2mdgabgl2keob50u93sc66h5</string>
	<key>API_KEY</key>
	<string>AIzaSyCf3Cym3QqAa6N7LV3Q5E96-1Hjq8Kz6k4</string>
	<key>GCM_SENDER_ID</key>
	<string>451277999382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs329eFinal.Life-sAGame</string>
	<key>PROJECT_ID</key>
	<string>life-s-a-ga</string>
	<key>STORAGE_BUCKET</key>
	<string>life-s-a-ga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451277999382:ios:21b8a54627bfa3417b5437</string>
</dict>
</plist>